.App {
  text-align: center;
  background-image: url(./assets/bg.jpg);
}

.events-container {
  display: flex;
  justify-content: center;
}

.flex-container.th {
  display: flex;
  justify-content: center;
}

.App > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
